.container{
    margin: 50px 0px 0px 0px;
}

.fa-edit{
    font-size: 36px;
    cursor: pointer;
}

.fa-edit:hover{
    color: blue;
}

.fa-trash{
    font-size: 36px;
    cursor: pointer;
}
 
.fa-trash:hover{
    color: red;
}

.delete:hover{
    color: red;
}

.update:hover{
    color: blue;
}

.dropdown-item:hover{
    cursor: pointer;
}

.dropdown-item:hover{
    font-weight: bold;
}


