<!-- <h1> Users </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
   
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    
              <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
              <div *ngFor="let role of user.roles">
                  <td>{{role.name}}</td>
              </div>
                <td ><button (click)="updateUser(user.id)" class="btn btn-success">Update</button></td>
                <td ><button (click)="deleteUser(user.id)" class="btn btn-warning">Delete</button></td>
              </tr>
    
    </tbody>

  </table>



</div> -->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    
<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Edit Users</h5>
    </div>
    <div class="card-body">
      <button (click)="addUsers()" style="margin: 0px 0px 20px 0px; float: left;" class="btn btn-primary"><i class="fa fa-plus" data-target="#todoModal" data-toggle="modal"></i> Add Users</button>
      <h3><input class="form-control" placeholder="Search" [(ngModel)]="search"></h3>
      <div class="table-resposive table-hover shadow-lg prl-3 mb-5 bg-white" style="overflow: auto; height: 500px; border-radius: 20px;">
        <table class="table">
          <caption>Edit Users</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Username</th>
              <th scope="col">E-Mail</th>
              <th scope="col">Role</th>
              <th scope="col" >Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of filterUsers()">
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td style="padding: 0px;"><div *ngFor="let role of user.roles">
                <td style="border: none;">{{role.name}}</td>
              </div></td>
              <td style="padding:12px 0px 12px 0px;">
                <!-- <div class="update" style='margin: 0px 20px 0px 0px; float: left;' [routerLink]="'/users/'+user.id">
                  <i class='fa fa-edit'></i>
                </div>
                <div class="delete" (click)="deleteUser(user.id)">
                  <i class='fa fa-trash'></i>
                </div> -->
                <div class="dropdown">
                    <button style="margin-left: 15px; font-weight: 1000;" type="button" class="btn btn-danger" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <!-- <i class="fas fa-ellipsis-h"></i> -->
                      . . .
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <div class="dropdown-item">
                          <div class="update" [routerLink]="'/users/'+user.id">
                            Update 
                          </div>
                          
                      </div>
                      
                      <div class="dropdown-item">
                          <div class="delete" (click)="deleteUser(user.id)">
                              Delete
                            </div>
                      </div>
                    </div>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 