<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

   
    <div class="alert alert-warning" *ngIf='invalidRegister'>{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf='validRegister'>{{successfullMessage}}</div>
   

    
    <h4>Sign Up</h4>
    <br>
    <!-- Login Form -->
    <form  #userForm="ngForm" (ngSubmit)="!userForm.invalid &&  handleUserRegistration()">

        <input type="text"  class="form-control fadeIn second" #name ="ngModel"
        required ="required" minlength="4" name="name" placeholder="Full Name" [(ngModel)]="user.name" >
        <div class="alert alert-warning" *ngIf="name.touched && name.invalid">Enter min 4 characters</div>

        <input type="text"  required ="required" #email = "ngModel"class="fadeIn second form-control" name="email" placeholder="Email" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <div class="alert alert-warning" *ngIf="email.touched && email.invalid">Enter valid email</div>

        <input type="text"  class="form-control fadeIn second" #username ="ngModel"
        required ="required" minlength="4" name="username" placeholder="Username" [(ngModel)]="user.username" >
        <div class="alert alert-warning" *ngIf="username.touched && username.invalid">Enter min 4 characters for username</div>

        <input type="password" class="form-control fadeIn second" #password ="ngModel"
        required ="required" minlength="6" name="password" placeholder="Password" [(ngModel)]="user.password" >
        <div class="alert alert-warning" *ngIf="password.touched && password.invalid">Enter min 6 characters for password</div>

      <input  type="submit" class="fadeIn fourth" value="Sign Up">
      
    </form>


  </div>
</div>

