<div *ngIf="user">

<div class="container">
  <h3 class="font-weight-light mt-4">Update User Profile</h3>
  <form [formGroup] = "profileForm" (ngSubmit) = "updateUser()">
    <div class="col-lg-12 p-0">
      <mat-form-field>
        <input [(ngModel)] = 'user.name' matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf = "name.hasError('required') || name.hasError('minlength')">
          Please provide a name with more than 5 characters.
        </mat-error>
        <mat-error *ngIf = "name.hasError('maxlength')">The name is too long!</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-12 p-0 mt-4">
      <mat-form-field>
        <input [(ngModel)] = 'user.username' matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf = "username.hasError('required')">
            Please provide a username with more than 3 characters.
          </mat-error>
          <mat-error *ngIf = "username.hasError('maxlength')">The username is too long!</mat-error>
          <mat-error *ngIf = "username.hasError('minlength')">Please provide a username with more than 3 characters.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-12 p-0 mt-4">
      <mat-form-field>
        <input [(ngModel)] = 'user.email' matInput placeholder="E-Mail" formControlName="email" >
        <mat-error *ngIf = "email.hasError('required')">
            Please provide an email.
          </mat-error>
          <mat-error *ngIf = "email.hasError('pattern')">This email sucks!</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-12 p-0 mt-4">
      <button mat-raised-button color="primary" type="submit" [disabled] = "profileForm.invalid">Update Profile</button>
      <button class="ml-4" mat-button routerLink = "/users">Cancel</button>
    </div>
  </form>

  <div class="row mt-4">
    <div class="col-6">
      <h3 class="font-weight-light mt-4">Update User Password</h3>
      <form [formGroup] = "passwordForm" (ngSubmit)="updateUserPassword()">
        <div class="col-lg-12 p-0 mt-4">
          <mat-form-field>
            <input type='password' [(ngModel)] = "_password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf = "password.hasError('required')">
              Provide a password with more than 5 characters... Lazy
            </mat-error>
            <mat-error *ngIf = "password.hasError('maxlength')">The password is too long!</mat-error>
            <mat-error *ngIf = "password.hasError('minlength')">This password sucks -.-</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 p-0 mt-4">
          <button mat-raised-button color="primary" type="submit" [disabled] = "passwordForm.invalid">Change Password</button>
          <button class="ml-4" mat-button routerLink = "/users">Cancel</button>
        </div>
      </form>
   </div>

    <div class="col-6">
      <h3 class="font-weight-light mt-4">Update User Role</h3>
      <form [formGroup] = "updateRoleForm" (ngSubmit)="updateRole()" class="mt-4">             
        <mat-form-field>
          <mat-label>Roles</mat-label>
          <mat-select [(value)]="role" matNativeControl required >
            <mat-option value="3">Admin</mat-option>
            <mat-option value="2">PM</mat-option>
            <mat-option value="1">User</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-lg-12 p-0 mt-4">
            <button mat-raised-button color="primary" type="submit">Update Role</button>
            <button class="ml-4" mat-button routerLink = "/users">Cancel</button>
          </div>
      </form>
    </div>

    <div class="col-6 mt-4">
      <h3 class="font-weight-light mt-4">Delete User Role</h3>
        <form [formGroup] = "removeRoleForm" (ngSubmit)="deleteRole()" class="mt-4">             
          <mat-form-field>
            <mat-label>Roles</mat-label>
            <mat-select [(value)]="removeRole" matNativeControl required >
              <mat-option value="3">Admin</mat-option>
              <mat-option value="2">PM</mat-option>
              <mat-option value="1">User</mat-option>
            </mat-select>
          </mat-form-field>
            <div class="col-lg-12 p-0 mt-4">
              <button mat-raised-button color="primary" type="submit">Delete Role</button>
              <button class="ml-4" mat-button routerLink = "/users">Cancel</button>
            </div>
        </form>
    </div>
  </div>
  <button class="btn btn-primary mt-4" routerLink="/users">Cancel</button>
</div>
</div>

<!-- <div class="container mt-5">
  <div class="row">
    <div class="mat-headline">Update User: <span class="font-weight-bold">{{getName()}}</span></div>
    <div class="col-lg-12">
      <form [formGroup] = "profileForm" (ngSubmit) = "updateUser()">
        <div class="col-lg-12 p-0">
          <mat-form-field>
            <input matInput placeholder="Full Name" formControlName="name">
            <mat-error *ngIf = "name.hasError('required') || name.hasError('minlength')">
              Please provide a name with more than 5 characters.
            </mat-error>
            <mat-error *ngIf = "name.hasError('maxlength')">The name is too long!</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-12 p-0 mt-4">
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf = "username.hasError('required')">
                Please provide a username with more than 3 characters.
              </mat-error>
              <mat-error *ngIf = "username.hasError('maxlength')">The username is too long!</mat-error>
              <mat-error *ngIf = "username.hasError('minlength')">Please provide a username with more than 3 characters.</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-12 p-0 mt-4">
          <mat-form-field>
            <input matInput placeholder="E-Mail" formControlName="email">
            <mat-error *ngIf = "email.hasError('required')">
                Please provide an email.
              </mat-error>
              <mat-error *ngIf = "email.hasError('pattern')">This email sucks!</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-12 p-0 mt-4">
          <mat-form-field>
            <input type='password' matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf = "password.hasError('required')">
              Provide a password with more than 5 characters... Lazy
            </mat-error>
            <mat-error *ngIf = "password.hasError('maxlength')">The password is too long!</mat-error>
            <mat-error *ngIf = "password.hasError('minlength')">This password sucks -.-</mat-error>
          </mat-form-field>
        </div>

        

        <div class="col-lg-12 p-0 mt-4">
          <button mat-raised-button color="primary" type="submit" [disabled] = "profileForm.invalid">Update Profile</button>
          <button class="ml-4" mat-button routerLink = "/users">Cancel</button>
        </div>


      </form>
    </div>
  </div>
</div> -->