<div *ngIf="user">
  <div class="container">
    <form action="" (ngSubmit)="updateUser()" class="mt-4">
      <div class="form-group">
        <label><h3>Update Profile</h3></label>
        <input
          required
          type="text"
          class="form-control"
          [(ngModel)]="user.name"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.email"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.username"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <button type="submit" (ngSubmit)="updateUser()" class="btn btn-success">
        Update Profile
      </button>
    </form>

    <div class="row">
      <div class="col-6">
        <form action="" (ngSubmit)="updateUserPassword()" class="mt-4">
          <div class="form-group">
            <label><h3>Change Password</h3></label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="password"
              [ngModelOptions]="{ standalone: true }"
              name="password"
            />
          </div>
          <button
            type="submit"
            (ngSubmit)="updateUserPassword()"
            class="btn btn-success"
          >
            Change Password
          </button>
        </form>
      </div>

      <div class="col-6">
        <form action="" (ngSubmit)="updateRole()" class="mt-4">
          <div class="form-group">
            <label><h3>Add Role</h3></label>
            <select
              type="text"
              class="form-control"
              [(ngModel)]="role"
              [ngModelOptions]="{ standalone: true }"
              name="role"
            >
              <option value="3">Admin</option>
              <option value="2">PM</option>
              <option value="1">User</option>
            </select>
          </div>
          <button
            type="submit"
            (ngSubmit)="updateRole()"
            class="btn btn-success"
          >
            Add Role
          </button>
        </form>
      </div>

      <div class="col-6">
        <form action="" (ngSubmit)="deleteRole()" class="mt-4">
          <div class="form-group">
            <label><h3>Remove Role</h3></label>
            <select
              type="text"
              class="form-control"
              [(ngModel)]="removeRole"
              [ngModelOptions]="{ standalone: true }"
              name="removeRole"
            >
              <option value="3">Admin</option>
              <option value="2">PM</option>
              <option value="1">User</option>
            </select>
          </div>
          <button
            type="submit"
            (ngSubmit)="deleteRole()"
            class="btn btn-success"
          >
            Remove Role
          </button>
        </form>
      </div>
    </div>
    <button class="btn btn-primary mt-4" routerLink="/users">Cancel</button>
  </div>
</div>
