<H1>Todo</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf="todoForm.touched && todoForm.invalid">
    Enter valid values
  </div>
  <div
    class="alert alert-warning"
    *ngIf="todoForm.touched && targetDate.invalid"
  >
    Enter valid Target Date
  </div>

  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input
        type="text"
        #description="ngModel"
        [(ngModel)]="todo.description"
        class="form-control"
        name="description"
        required="required"
        minlength="5"
      />
      <div
        class="alert alert-danger"
        *ngIf="todoForm.touched && description.invalid"
      >
        Enter atleast 5 characters in Description
      </div>
    </fieldset>

    <fieldset class="form-group">
      <label>Target Date</label>
      <input
        type="date"
        #targetDate="ngModel"
        [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="todo.targetDate = $event"
        class="form-control"
        name="targetDate"
        required="required"
      />
    </fieldset>

    <label>Labels</label>
    <label-costum></label-costum>

    <label>Priority</label>
    <ng-select
      [items]="simpleItems"
      [(ngModel)]="selectedSimpleItem"
      name="selectedSimpleItem"
    >
    </ng-select>

    <br />
    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-info" routerLink="/todos" style="margin-left: 15px;">
      Cancel
    </button>
  </form>
</div>
